* {
    font-family: Open Sans;
}

html, body {
    min-width: 1280px;
    margin: 0;
}

.mainFlexContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flexslider {
    height: 450px;
    border: 0px;
    overflow-x: hidden;
}

.flexslider .slides img {
    height: 450px;
}

.sliderContainer {
    height: 450px;
    align-items: stretch;
}

.sliderImage {
    object-fit: contain;
}