@font-face {
    font-family: "GothamMedium";
    src: url('../font/Gotham-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "GothamBook";
    src: url('../font/Gotham-Book.ttf') format('truetype');
}

/* * {
    font-family: GothamMedium;
} */

body {
    margin: 0 0 0 0;
    width: 1920px;
}

.mainFlexContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flexslider {
    height: 546px;
    border: 0px
}

.flexslider .slides img {
    height: 546px;
}

.sliderContainer {
    height: 546px;
    align-items: stretch;
}

.sliderImage {
    object-fit: contain;
}