* {
    font-family: Open Sans;
}

body {
    margin: 0 0 0 0;
    min-width: 1280px;
}

.mainFlexContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flexslider {
    height: 546px;
    border: 0px
}

.flexslider .slides img {
    height: 546px;
}

.sliderContainer {
    height: 546px;
    align-items: stretch;
}

.sliderImage {
    object-fit: contain;
}